<div class="page-width page-wishlist">
  <!-- Hero Banner -->
  <div class="wishlist-hero">
    <h1 class="wishlist-hero--title">{{ page.title }}</h1>
  </div>
  <!-- Product Tile Grid -->
  <div class="grid">
    {% for product in collections.all.products %}
      <div class="grid__item small--one-half medium-up--one-fifth">
        {% include 'product-tile', product: product %}
      </div>
    {% endfor %}
    <div class="wishlist-grid--empty-list flex grid__item">
      <div class="empty-list--info">
        <h6 class="empty-list--text black">Looks like you haven't started a wishlist yet...</h6>
        <a class="btn empty-list--btn" href="/collections/all">Start Shopping</a>
      </div>
    </div>
  </div>
  <!-- Loader -->
  <div class="wishlist-loader">
    {% include 'icon-wishlist' %}
    <!-- <img class="wishlist-loader--image" src="{{ 'icon-wishlist.svg' | asset_url }}" alt="Wishlist loading"> -->
    <p class="wishlist-loader--text">Loading your customized wishlist...</p>
  </div>
</div>
